.form-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 15px;
  text-align: center;

  border: 1px solid rgb(7, 78, 78);

  background-color: rgb(82, 189, 189);
}

.form-input {
  height: 30px;
  padding: 5px 15px;
  border-radius: 15px 15px;
  font-size: 18px;
}

.form-input::placeholder {
  color: rgb(82, 189, 189);
}
