.form-container {
  // outline: 1px solid red;
  padding: 20px 15px;
  text-align: center;

  background-color: rgb(82, 189, 189);
}

.form-input {
  height: 30px;
  padding: 5px 15px;
  border-radius: 15px 15px;
  font-size: 18px;
}

.form-input::placeholder {
  color: rgb(82, 189, 189);
}
